.number {
	font-family: 'Black Ops One', cursive;
	font-size: 1.8em;
	display: block;
}

.small-text {
	font-size: 16px;
}

.challenge {
	margin: 0 auto;

	span:first-child {
		position: relative;
		top: -8px;
		margin-right: 10px;
	}

	.number {
		display: inline-block;
	}
}

ul {
	list-style-type: none;
}

header {
	background: url(../images/earth_lights.jpg) no-repeat center center;
	position: relative;
	background-attachment: fixed;
	width: 100%;

	.head-container {
		width: 100%;
		text-align: center;
		padding: 188px 0;
	}

	h1 {
		font-family: 'Play', sans-serif;
		font-size: 3.2em;
		color: #fff;
		text-shadow: 0 0 20px #fff;
	}

	@media only screen and (min-width: 360px) {
		h1 {
			font-size: 3.6em;
		}
	}

	@media only screen and (min-width: 768px) {
		.head-container {
			padding: 250px 0;
		}

		h1 {
			font-size: 5em;
		}
	}
}

article {
	width: 100%;
	background-color: #ADDDED;
	position: relative;
	border-top: 8px solid #fff;

	.content-container {
		width: 90%;
		max-width: 1020px;
		position: relative;
		top: -80px;
		/* left: 0;
		right: 0; */
		margin: 0 auto;
		z-index: 99;

		.card {
			width: 100%;
			color: #fff;
			font-size: 1.5em;

			.card-inner {
				min-height: 300px;
				line-height: 300px;
				background-color: #45D649;
				border: 8px solid #fff;
				border-radius: 10px;
				/* padding: 5px; */
				margin: 0 0 40px;
				text-align: center;

				> a {
					color: #fff;
					display: block;
					text-decoration: none;

					&:hover {
						color: #F6FF00;
						text-shadow: 0 0 20px #F6FF00;
						background-color: #00BF05;
						-o-transition: all .5s;
					    -moz-transition: all .5s;
					    -webkit-transition: all .5s;
					    -ms-transition: all .5s;
					}
				}

				.card-contents {
					display: inline-block;
					vertical-align: middle;
					line-height: normal;

					img { margin-top: 5px; }
				}
			}

			@media only screen and (min-width: 768px) {
				width: 50%;
				float: left;

				&.float-right { float: right; }
				&.center-align {
					float: none;
					clear: both;
					margin: 0 auto;
				}

				&.size-60 { width: 60%; }
				&.size-40 { width: 40%; }

				.card-inner {
					margin: 0 20px 40px;

					&.alpha { margin-left: 0px; }
					&.omega { margin-right: 0px; }
				}
			}

		}
	}
}

footer {
	position: relative;
	color: #ddd;
	padding: 80px 16px;
	background-color: #1A1A21;
	/* background-color: #363838; */

	a {
		color: #fff;

		&:hover {
			color: #aaa;
			-o-transition: all .5s;
		    -moz-transition: all .5s;
		    -webkit-transition: all .5s;
		    -ms-transition: all .5s;
		}
	}

	ul {
		width: 100%;
		padding: 0;
		margin: 0 auto;

		li {
			float: left;
			
			&.additions {
				padding-right: 24px;
				margin-right: 24px;
				border-right: 1px solid #aaa;
			}

			a:hover {
				opacity: 0.5;
				-o-transition: all .5s;
			    -moz-transition: all .5s;
			    -webkit-transition: all .5s;
			    -ms-transition: all .5s;
			}

			img {
				width: 35px;
			}
		}
	}

	.footer-title {
		display: block;
		margin-top: 14px;
		font-family: 'Play', sans-serif;
		font-size: 2.2em;
		font-weight: bold;
		text-align: center;
	}

	> img {
		position: absolute;
		top: -172px;
		right: -80px;
	}

	@media only screen and (min-width: 360px) {
		ul {
			width: 348px;

			li {
				img {
					width: 50px;
				}
			}
		}

		.footer-title {
			font-size: 3em;
		}
	}

	@media only screen and (min-width: 768px) {
		padding: 80px 40px;

		ul {
			width: 388px;
			float: left;
			margin: 0;

			li {
				img {
					width: 60px;
				}
			}
		}

		.footer-title {
			float: right;
			margin-top: 0;
		}
	}
}