header {
    &.shiny {
        background: url(../images/moz-screenshot-170.jpg) no-repeat center center;
        background-attachment: fixed;
    }
}

iframe {
    width: 100%;
    border: none;
    margin: 0 auto;
    display: block;
    border-radius: 10px;

    &.weekly-planner {
        height: 1128px;
    }

    &.london-crime-mapping {
        height: 920px;
    }

    @media only screen and (min-width: 870px) {
        &.weekly-planner {
            height: 832px;    
        }
    }
}